.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  /* width: 100%; */
  /* box-sizing: border-box; */
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.chord-notes {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
}

.chord-degree {
  margin-top: 4px;
  font-size: 0.8rem;
  color: #777;
  font-style: italic;
}

.fretboard-string {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.fretboard-note {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.fretboard-note.root {
  background-color: rgba(255, 0, 0, 0.7);
}

.fretboard-note:hover {
  background-color: #e0e0e0;
}

.grid {
  display: grid;
  gap: 20px;
}

.grid-cols-1 {
  grid-template-columns: 1fr;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
}

.overflow-x-auto {
  overflow-x: auto;
}

.table-auto {
  width: 100%;
  border-collapse: collapse;
}

.table-auto th,
.table-auto td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-auto th {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
}
